.app-header {
  display: flex;
  justify-content: center;
}

.app-header__child {
  display: inline-block;
  font-size: 35px;
  padding: 5px;
  color: #00a896;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: 3px 3px 5px #00a896, 3px 3px 5px #00a896, 3px 3px 5px #453f47;
  border-radius: 20px;
}
