 @import "~global.scss";

 .todo-form {
     padding: 10px 0 20px;
     display: flex;
     justify-content: space-between;

     @include media(until-mobile) {
         flex-wrap: wrap;
         justify-content: center;
     }

     &__input {
         @include media(until-mobile) {
             width: 80%;
             margin: 10px 0;
         }
     }

     &__btn {
         @include media(until-mobile) {
             width: 30%;
         }
     }
 }