@import "~styles/root";

.app-quiz {
    min-height: 100vh;
    padding: 80px 0;
    font-family: "Mardoto-Regular", Fallback, sans-serif;

    &__bg-img {
        position: absolute;
        top: 220px;
        left: 0;
        width: 380px;
        height: 340px;

        @include media(until-desktop) {
            top: 150px;
            width: 320px;
            height: 280px;
        }

        @include media(until-tablet) {
            width: 200px;
            height: 180px;
        }

        @include media(until-mobile) {
            display: none;
        }
    }

    &__content {
        height: calc(100vh - #{$header-size});
        display: flex;
        justify-content: center;
        text-align: center;

        &__heading {
            font-size: $heading2;

            @include media(until-desktop) {
                font-size: $heading3;
                margin: 20px 0;
            }

            @include media(until-tablet) {
                font-size: $intro-text;
            }
        }

        &__question {
            font-size: $intro-text;
            padding: 0;
            color: $text-color-surface;
            margin: 30px 0;

            @include media(until-tablet) {
                font-size: $body-text;
            }
        }

        &__options {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 242px;

            &__children {
                width: 100%;
                max-width: 450px;

                &__text-area {
                    height: 208px;
                    width: 100%;
                    border-radius: 8px;
                    padding: 16px 24px;
                    color: $text-color-surface;
                    font-size: $body-text;
                    border: 1px solid #cccccc;
                    animation: anima-textarea 1s alternate;

                    &:focus {
                        background-color: $textarea-suggestion-bg;
                    }

                    @include media(until-desktop) {
                        max-width: 500px;
                    }
                }

                &__option {
                    margin: 8px 0;
                    width: 100%;
                    animation: anima-quiz 400ms alternate ease-in;
                }

                &__age-slider {
                    display: inline;
                }
            }
        }

        &__button {
            display: flex;
            justify-content: center;
            margin: 38px 0 0;

            &__prev {
                display: flex;
                align-items: center;
                margin: 0 8px;
                padding: 12px 33px;
                background-color: $secondary-color-light;
                border-radius: 20px;
                box-shadow: 0px 3px 6px $border-boxes-shadow;

                &:hover {
                    background-color: $secondary-color-dark;
                }

                &:disabled {
                    background-color: #f3edff;
                }
            }

            &__next {
                display: flex;
                align-items: center;
                margin: 0 8px;
                padding: 12px 33px;
                background-color: $primary-color-light;
                border-radius: 20px;
                box-shadow: 0px 3px 6px $border-boxes-shadow;
            }
        }
    }
}