@import "~media-breakpoints/media-root";

.app-button {
    margin: 0 12px;
    font-size: $body-text;
    padding: 15px 35.5px;
    border-radius: 34px;
    color: $text-color-on-surface;
    border: none;
    background-color: $primery-color;
    text-align: center;

    &:hover {
        background-color: $button-bg-hover;
    }

    &:disabled {
        color: $button-color-disabled;
        background-color: $button-bg-disabled;
    }

    &:active {
        background-color: $primery-color;
        border: 1px solid $primery-color-dark;
    }

}