@import "~styles/root";

.order-details {
    font-family: 'Mardoto-Regular',
        Fallback,
        sans-serif;
    margin: 0 0 110px;
    background-size: cover;
    text-align: center;
    padding: 56px 0 16px;

    &__bg {
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        height: 880px;
        background-image: url("~assets/OrderDetailsBackground.svg");
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
    }

    &__heading {
        font-size: $heading2;
    }

    &__boxes {
        display: flex;
        justify-content: space-between;
        padding: 80px 0;

        &__check-box {
            margin-right: 24px;
            height: 25px;
            width: auto;

            &:hover {
                background: none;
            }
        }
    }

    &__btn {
        font-size: $intro-text;
        color: $text-color-primary;
        padding: 16px 31px;
    }
}