.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 1px solid #575252;
  padding: 5px;
  margin: 10px 0;
  border-radius: 16px;
  background-color: wheat;
}

.list-group-item__completed-checkbox {
  cursor: pointer;
  margin: 0 20px;
  appearance: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: white;
}

.list-group-item__completed-checkbox--selected {
  background-size: cover;
  background-image: url("https://p.kindpng.com/picc/s/106-1060448_check-mark-clipart-png-powerpoint-check-mark-symbols.png");
}

.list-group-item__data {
  width: 50%;
}

.list-group-item__data__title {
  font-size: 20px;
  font-weight: 600;
  color: #0b0014;
  padding: 5px 0;
}

.list-group-item__data__description {
  border-top: 1px solid #a39898;
  padding: 2px 0 0;
  font-size: 16px;
  color: #50514f;
  overflow: hidden;
}

.list-group-item__select-color {
  border: none;
  font-size: 18px;
  color: dimgrey;
  background: linear-gradient(#00a896, #02c39a, #028090);
}

.list-group-item__select-color:hover {
  background: linear-gradient(#028090, #02c39a, #00a896);
}

.list-group-item__select-color:focus {
  outline: none;
}

.list-group-item__select-color__option {
  background-color: #5bc0be;
  padding: 15px;
}

.list-group-item__update {
  height: 30px;
  width: 30px;
  overflow: hidden;
  cursor: pointer;
}

.list-group-item__close {
  height: 30px;
  width: 30px;
  overflow: hidden;
  cursor: pointer;
}
