@import "../../global.scss";

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    border: 1px solid rgb(87, 82, 82);
    padding: 5px;
    margin: 10px 0;
    border-radius: 30px;
    background-color: wheat;
    @include menu-shadow;

    &__completed-checkbox {
        cursor: pointer;
        margin: 0 20px;
        appearance: none;
        border: 1px solid rgb(107, 101, 101) !important;
        width: 30px;
        height: 30px;
        background-color: white;

        @include media(until-mobile) {
            width: 20px;
            height: 20px;
            margin: 0 4px;
        }

        &--selected {
            background-size: cover;
            background-image: url('https://p.kindpng.com/picc/s/106-1060448_check-mark-clipart-png-powerpoint-check-mark-symbols.png');
        }
    }

    &__data {
        width: 50%;

        &__title {
            font-size: 20px;
            font-weight: 600;
            color: #0b0014;
            padding: 5px 0;
            overflow: hidden;

            @include media(until-mobile) {
                font-size: 16px;
                font-weight: normal;
                padding: 0;
            }
        }

        &__description {
            border-top: 1px solid rgb(163, 152, 152);
            padding: 2px 0 0;
            font-size: 16px;
            color: #50514f;
            overflow: hidden;

            @include media(until-mobile) {
                font-size: 14px;
                padding: 0;
            }
        }
    }

    &__select-color {
        border: none;
        font-size: 18px;
        color: dimgrey;
        padding: 10px 0;
        background: linear-gradient(#00a896, #02c39a, );
        border-radius: 20px;

        @include media(until-mobile) {
            font-size: 16px;
            padding: 5px 0;
            width: 60px;
            overflow: hidden;
        }

        &:hover {
            background: linear-gradient(#02c39a, #00a896);
        }

        &:focus {
            outline: none;
        }

        &__option {
            background-color: #5bc0be;
            padding: 15px;
        }
    }

    &__update {
        height: 30px;
        width: 30px;
        overflow: hidden;
        cursor: pointer;
    }

    &__close {
        height: 30px;
        width: 30px;
        overflow: hidden;
        cursor: pointer;
    }

}