@import "~styles/root";

.product-card {
    &__image-column {
        position: relative;
        overflow: hidden;
        border-radius: 16px;
        margin-bottom: 10px;
        min-width: 200px;
        min-height: 200px;

        &__img-container {
            overflow: hidden;
            object-fit: contain;
            width: 100%;
            height: 100%;
            cursor: pointer;
            transition: transform 400ms ease-in-out;
            &:hover {
                transform: scale(1.2);
            }
        }

        &__img-hover {
            transition: bottom 300ms;
            position: absolute;
            z-index: 1;
            height: 64px;
            bottom: -64px;
            width: 100%;
            background-color: rgba(136, 132, 132, 0.5);
            backdrop-filter: blur(1px);
            border-bottom-left-radius: 16px;
            border-bottom-right-radius: 16px;

            &__external-column {
                z-index: 100;
                width: 100%;
                height: 100%;
                bottom: 0;
                padding: 0 20px;
                position: absolute;
                @extend %flex-center-between;

                &__price {
                    color: $surface-color;
                    font-size: $intro-text;
                    font-weight: bold;
                    user-select: none;
                }

                &__button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 10px;
                    padding: 3px 8px 3px 16px;
                    &__text {
                        font-size: 14px;
                        margin-right: 12px;
                    }
                }
            }
        }
    }

    &__product-name {
        font-size: $intro-text;
        color: $text-color-surface;
        text-align: center;

        @include media(until-tablet) {
            font-size: 16px;
            text-align: start;
            margin-bottom: 10px;
        }

        @include media(tablet) {
            display: flex;
            flex-wrap: wrap-reverse;
        }

        @include media(mobile) {
            font-size: $caption-text;
        }
    }
    &__mobile-price {
        display: none;
        @include media(until-tablet) {
            display: block;
        }
    }
}

.product-card__image-column:hover .product-card__image-column__img-hover {
    bottom: 0;
}
