@import "~global.scss";

.app-popup {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;

    &__basis {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.55);
    }

    &__inner {
        position: relative;
        background-color: ghostwhite;
        padding: 29px;
        width: 400px;
        border-radius: 10px;


        @include media(until-tablet) {
            width: 300px;
            padding: 16px;
        }

        &__close-icon {
            cursor: pointer;
            font-size: 24px;
            position: absolute;
            right: 29px;

            @include media(until-tablet) {
                right: 16px;
            }
        }

        &__content {
            padding: 26px 79px;
            text-align: center;

            @include media(until-desktop) {
                padding: 15px 79px;
            }

            @include media(until-tablet) {
                padding: 16px 40px;
            }

            &__title {
                color: rgb(49, 48, 48);
                font-weight: normal;
                font-size: 24px;
                line-height: normal;

                @include media(until-desktop) {
                    font-size: 20px;
                }

                @include media(until-mobile) {
                    font-size: 16px;
                }
            }

            &__children {
                &__input {
                    display: block;
                    margin: 5px 0;
                    border-radius: 20px;
                    border: 1px solid rgb(133, 125, 125);
                }

                &__btn {
                    margin: 20px 0 0;
                }
            }
        }
    }
}