@keyframes anim-popup {
    0% {
        transform: scale(0.4);
    }

    25% {
        transform: scale(0.6);
    }

    50% {
        transform: scale(0.8);
    }

    75% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes change-right {
    0% {
        right: -33%;
    }

    100% {
        right: 0;
    }
}

@keyframes cart-anim {
    0% {
        transform: rotate(10deg);
    }
    10% {
        transform: rotate(25deg);
    }
    20% {
        transform: rotate(10deg);
    }
    30% {
        transform: rotate(0);
    }
    40% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(-25deg);
    }
    60% {
        transform: rotate(-10deg);
    }
    70% {
        transform: rotate(0);
    }
    80% {
        transform: rotate(10deg);
    }
    90% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0);
    }
}

@keyframes bell-notif {
    from {
        transform: scale(1.1);
    }
    to {
        transform: scale(1);
    }
}

@keyframes anima-quiz {
    0% {
        opacity: 0;
        transform: translateY(-150px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes anima-textarea {
    0% {
        width: 50%;
        opacity: 0;
    }

    100% {
        width: 100%;
        opacity: 1;
    }
}

@keyframes anima-quiz-age {
    0% {
        transform: perspective(400px) rotateX(180deg);
        opacity: 0;
    }

    100% {
        transform: perspective(400px) rotateX(0deg);
        opacity: 1;
    }
}