// color and background

$primary-color: #FF8A65;
$button-bg-hover: #FF7A50;
$primary-color-light: #ffbb93;
$primary-color-dark: #C75B39;
$primary-color-main-gradient:linear-gradient(to right, #FF9966, #FF5E62);
$secondary-color: #B0A5FF;
$secondary-color-light: #e4d6ff;
$button-bg-disabled: #FFF1ED;
$secondary-color-dark: #7E76CB;
$background-color: #FFFEFE;
$text-color-primary: #10202C;
$text-color-primary-dark: #250303;
$text-color-surface: #333333;
$input-bg: #f2ecff;
$input-bg-hover: #e9dfff;
$input-border-color-invalid: #FF3A3C;
$button-color-disabled: #EADDD9;
$surface-color: #FFFFFF;
$button-second-bg:#D9CEF2;
$button-second-bg-hover: #D0B8FE;
$button-second-bg-disabled: #F3EDFF;
$button-second-color-disabled: #A4A2A7;