// color and background

$primary-color: #ff8a65;
$button-bg-hover: #ff7a50;
$primary-color-light: #ffbb93;
$primary-color-dark: #c75b39;
$primary-color-main-gradient: linear-gradient(to right, #ff9966, #ff5e62);
$secondary-color: #b0a5ff;
$secondary-color-light: #e4d6ff;
$button-bg-disabled: #fff1ed;
$secondary-color-dark: #7e76cb;
$background-color: #fffefe;
$text-color-primary: #10202c;
$text-color-primary-dark: #250303;
$text-color-surface: #333333;
$input-bg: #f2ecff;
$input-bg-hover: #e9dfff;
$input-error-color: #ff3a3c;
$button-color-disabled: #eaddd9;
$surface-color: #ffffff;
$button-second-bg: #d9cef2;
$button-second-bg-hover: #d0b8fe;
$button-second-bg-disabled: #f3edff;
$button-second-color-disabled: #a4a2a7;
$mobile-menu-border-bg: #707070;
$count-button-bg: #e6e6e6;
$dots-bg: #c4c4c4;
$border-boxes-shadow: #00000029;
$textarea-suggestion-bg: #ffede2;
