$breakPoints: (
	mobile: (start: null, end: '360px'),
	mobile-large: (start: '361px', end: '767px'),
	tablet: (start: '768px', end: '1024px'),
	desktop:(start: '1025px', end: '1360px'),
	desktop-large: (start: '1361px', end: null),
	until-mobile: (start: null, end: '767px'),
	until-tablet: (start: null, end: '1024px'),
	until-desktop: (start: null, end: '1360px')
);

$layout-margin: 0 180px;
$layout-margin-desktop: 0 80px;
$layout-margin-tablet: 0 64px;
$layout-margin-mobile: 0 20px;

$header-size: 80px;
$header-size-small: 64px;

// text font-size

$heading1: 48px;
$heading2: 32px;
$heading3: 24px;
$intro-text: 20px;
$body-text: 16px;
$caption-text: 14px;
$micro-text: 12px;

// template-style



