body {
  font-family: "Mardoto-Regular", Fallback, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  overflow-x: hidden;
}

.lock-scroll {
  overflow: hidden;
}

.app-toast-container {
  width: unset;
  min-width: 320px;
}

@media only screen and (max-width: 480px) {
  .app-toast-container {
    bottom: 1em;
    width: 100%;
    min-width: 320px;
  }
}

.app-landing-success-notif {
    background-color: #3caea3;
    color: white;
    border-radius: 4px;
}

.app-landing-info-notif {
    background-color: #ff8a65;
    color: #fff;
    border-radius: 4px;
}

@font-face {
  font-family: "Mardoto Regular";
  src: url("./fonts/Mardoto-Regular.ttf");
  /* IE9 Compat Modes */
  src: url("./fonts/Mardoto-Regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/Mardoto-Regular.woff2") format("truetype");
  /* Safari, Android, iOS */
}

* {
	&::-webkit-scrollbar-track {
		background-color: transparent;
	}
	&::-webkit-scrollbar {
		width: 8px;
		background-color: transparent;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 2px;
		box-shadow: inset 0 0 6px #E0E0E0;
		-webkit-box-shadow: inset 0 0 6px #E0E0E0;
		background-color: #F1F3F3;
	}

	// mozila scrollbar override
	scrollbar-width: thin;
}

