@import "~styles/root";

.app-layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;

    &__main {
        flex: 1;
        padding-top: $header-size;
        margin: $layout-margin;

        @include media(until-desktop) {
            padding-top: $header-size-small;
        }

        @include media(desktop) {
            margin: $layout-margin-desktop;
        }

        @include media(tablet) {
            margin: $layout-margin-tablet;
        }

        @include media(until-mobile) {
            margin: $layout-margin-mobile;
        }
    }
}
