$breakPoints: (mobile: (start: null, end: '360px'),
	mobile-large: (start: '361px', end: '767px'),
	tablet: (start: '768px', end: '1024px'),
	desktop:(start: '1025px', end: '1360px'),
	desctop-large: (start: '1361px', end: null),
);

// color and background

$FF8A65:#FF8A65;
$FF7A50: #FF7A50;
$ffbb93:#ffbb93;
$C75B39:#C75B39;
$FF9966:#FF9966;
$FF5E62:#FF5E62;
$B0A5FF:#B0A5FF;
$e4d6ff:#e4d6ff;
$FFF1ED:#FFF1ED;
$_7E76CB:#7E76CB;
$FFFEFE:#FFFEFE;
$_10202C:#10202C;
$_250303:#250303;
$_333333:#333333;
$f2ecff:#f2ecff;
$e9dfff:#e9dfff;
$FF3A3C:#FF3A3C;
$EADDD9:#EADDD9;
$FFF1ED:#FFF1ED;
$FFFFFF:#FFFFFF;

// text font-size

$heading1:48px;
$heading2:32px;
$heading3: 24px;
$introText:20px;
$bodyText:16px;
$captionText:14px;
$microText:12px;

// shablon-style

%flexCenterBetween {
	display: flex !important;
	align-items: center;
	justify-content: space-between;
}