@import "~styles/root";

.age-slider {
    display: flex;
    justify-content: center;

    &__btn {
        @include age-styles(60px, 60px, 0px 2px 10px #00000029);
        padding: 0;
    }

    &__item {
        @include age-styles(60px, 60px, none);

        &--selected {
            @include age-styles(60px, 60px, 0px 2px 10px #00000029);
        }
    }
};