.app-input {
    border: 2px solid rgb(59, 59, 104);
    border-top: none;
    border-right: none;
    font-size: 18px;
    padding: 10px;

    &:hover {
        background-color: rgb(250, 245, 245);
    }

    &:focus {
        outline: none;
    }
}