.app-input {
  border: 2px solid #3b3b68;
  border-top: none;
  border-right: none;
  font-size: 18px;
  padding: 10px;
}

.app-input:hover {
  background-color: #faf5f5;
}

.app-input:focus {
  outline: none;
}
