@import "~styles/root";

.order-details-container {
    width: 50%;
    max-width: 740px;
    box-shadow: 0px 3px 55px $border-boxes-shadow;
    border-radius: 14px;
    background-color: $surface-color;
    padding: 29px 46px 35px 46px;

    @include media(desktop) {
        padding: 24px 40px;
    }

    @include media(until-tablet) {
        padding: 24px 40px;
        width: 100%;
        max-width: 100%;
        margin: 56px 64px 0;
    }

    @include media(until-mobile) {
        box-shadow: none;
        padding: 0;
        margin: 18px;
    }
}
