@import "~styles/root";

.app-contacts-item {
    font-size: $body-text;
    color: $text-color-primary;
    line-height: 32px;

    @include media(until-mobile) {
        font-size: $caption-text;
    }
}
