 @import "~styles/root";

 .app-landing {
     font-family: 'Mardoto-Regular',
         Fallback,
         sans-serif;

     &__top-column {
         height: 100%;

         &__left-column {
             top: 0;
             left: 0;
             position: absolute;
             height: 100%;

             &__img {
                 height: 100%;
                 width: auto;
             }
         }

         &__right-column {
             display: flex;
             justify-content: flex-end;
             align-items: center;
             height: 100%;

             &__children {
                 text-align: right;

                 &__heading {
                     font-size: $TextBlock1;
                     color: $text-color-surface;
                     font-weight: normal;
                     line-height: 55px;
                 }

                 &__button {
                     color: $surface-color;
                     font-size: $intro-text;
                     letter-spacing: 2.5px;
                     padding: 16px 44px;
                     border-radius: 48px;
                 }
             }

         }
     }

     &__product-column {
         display: flex;
         align-items: center;

         &__children {
             display: grid;
             column-gap: 30px;
             grid-template-columns: auto auto auto auto;
         }
     }

     &__about-boxy {
         display: flex;
         justify-content: center;

         &__children {
             max-width: 722px;
             text-align: center;

             &__text-block {
                 color: $text-color-surface;
                 font-size: $TextBlock2;
             }

             &__text-content {
                 color: $text-color-surface;
                 font-size: $intro-text;
                 line-height: 30px;
                 padding-bottom: 140px;
             }
         }
     }
 }