@import "~styles/root";

.app-auth {
    font-family: "Mardoto-Regular", Fallback, sans-serif;
    display: flex;
    justify-content: flex-end;
    min-height: calc(100vh - #{$header-size});
    padding-top: 100px;

    @include media(until-desktop) {
        min-height: calc(100vh - #{$header-size-small});
    }
    @include media(until-tablet) {
        justify-content: center;
    }
    
    // &__background {
    //     position: absolute;
    //     z-index: 0;
    //     left: 0;
    //     width: 100%;
    //     height: calc(100vh - #{$header-size-small});
    //     background-image: url("~assets/AuthMobileBg.png");
    //     background-size: 100% 100%;
    //     display: none;
    //     top: $header-size-small;
    //     @include media(until-tablet) {
    //         display: block;
    //         justify-content: center;
    //     }
    // }

    &__img {
        position: absolute;
        top: calc(#{$header-size} + 100px);
        left: 77px;
        width: 40%;
        height: auto;

        @include media(until-desktop) {
            top: calc(#{$header-size-small} + 100px);
            width: 52%;
            left: 0;
        }

        @include media(until-tablet) {
            display: none;
        }
    }

    &__input {
        height: 64px;
        border-radius: 21px;
        margin: 8px 0;

        @include media(desktop) {
            height: 56px;
        }
    }
}
