body {
  font-family: 'Mardoto-Regular', Fallback, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Mardoto Regular';
  src: url('./fonts/Mardoto-Regular.ttf');
  /* IE9 Compat Modes */
  src: url('./fonts/Mardoto-Regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('./fonts/Mardoto-Regular.woff2') format('truetype'),
    /* Safari, Android, iOS */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
