@import "~styles/root";

.app-dot {
    margin: 30px 4px 0;
    display: inline-block;
    height: 9px;
    width: 9px;
    background-color: $dots-bg;
    border-radius: 50%;

    @include media(until-desktop) {
        margin: 0 4px;
    }

    &--active {
        background-color: $mobile-menu-border-bg;
    }
}
