@import "~styles/root";

.app-header {
  top: 0;
  left: 0;
  position: fixed;
  font-family: "Mardoto-Regular", Fallback, sans-serif;
  @extend %flex-center-between;
  height: $header-size;
  width: 100vw;
  padding: $layout-margin;
  transition: background-color 200ms ease-in-out;
  z-index: 100;

  @include media(until-desktop) {
    height: $header-size-small;
    padding: $layout-margin-desktop;
  }

  @include media(until-tablet) {
    padding: $layout-margin-tablet;
    background-color: $surface-color;
    border-box-shadow: 1px 1px 5px #ccc;
  }

  @include media(until-mobile) {
    padding: $layout-margin-mobile;
  }

  &__mobile-menu-icon {
    display: none;
    width: 36px;
    height: 36px;

    @include media(until-tablet) {
      display: block;
      cursor: pointer;
    }

    @include media(mobile) {
      width: 24px;
      height: 24px;
    }
  }

  &__logo {
    height: 65px;
    width: 63px;
    margin-top: -5px;

    @include media(until-desktop) {
      height: 47px;
      width: 45px;
      margin: 0;
    }
  }

  &__right-column {
    @extend %flex-center-between;

    &__navigation {
      @include media(until-tablet) {
        position: fixed;
        top: 64px;
        left: -105%;
        height: 100%;
        width: 100%;
        background-color: $surface-color;
        transition: left 300ms ease-in;
      }

      &__mobile-column {
        display: none;

        @include media(until-tablet) {
          display: block;
        }
      }

      ul {
        display: flex;

        @include media(until-tablet) {
          display: block;
          text-align: center;
          padding: 30px 0 0 0;
        }
        @include media(until-mobile) {
          padding: 80px 0 0 0;
        }

        li {
          a {
            display: block;
            width: 100%;
            height: 100%;
            @include media(until-tablet) {
              padding: 16px 0;
              font-size: $body-text;
              border-top: 1px solid #ccc;
            }
            @include media(mobile) {
              padding: 24px 12px;
              text-align: start;
            }
          }
          @include media(until-tablet) {
            &:last-child {
              border-bottom: 1px solid #ccc;
            }
          }
        }
      }
    }
    &__button {
      margin-left: 12px;
    }

    &__profile-header-icon {
      margin: 0 12px;
      cursor: pointer;

      @include media(until-tablet) {
        display: none;
      }
    }

    &__cart-icon {
      margin: 0 12px;
      cursor: pointer;
      position: relative;
      @include media(until-tablet) {
        width: 41px;
        height: 41px;
        padding: 9px;
        border: 1px solid $primary-color;
        border-radius: 50%;
        margin: 0;
      }

      &--animate {
        animation: cart-anim 400ms;
      }

      @include media(until-tablet) {
        color: $primary-color;
      }
      &__bell {
        position: absolute;
        top: -7px;
        right: -6px;
        border-radius: 50%;
        width: 19px;
        height: 19px;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $primary-color;
        visibility: hidden;
        color: #333333;
        &--show {
          visibility: visible;
          animation: bell-notif 2s;
        }
      }
    }

    &__button {
      @include media(until-desktop) {
        padding: 11px 24px;
        border-radius: 20px;
      }

      @include media(until-tablet) {
        display: none;
      }
    }
  }
}

.scrolled {
  background-color: $surface-color;
  @include menu-shadow;
}

.mobile-menu {
  left: 0;
}