@import "~styles/root";

.app-header {
  position: fixed;
  font-family: "Mardoto-Regular", Fallback, sans-serif;
  @extend %flex-center-between;
  height: $header-size;
  width: 100%;
  padding: $layout-margin;
  transition: background-color 200ms ease-in-out;
  z-index: 100;

  @include media(until-desktop) {
    height: $header-size-small;
    padding: $layout-margin-desktop;
  }

  @include media(until-tablet) {
    padding: $layout-margin-tablet;
    background-color: $surface-color;
    border-box-shadow: 1px 1px 5px #ccc;
  }

  @include media(until-mobile) {
    padding: $layout-margin-mobile;
  }

  &__mobile-menu-icon {
    display: none;
    width: 36px;
    height: 36px;

    @include media(until-tablet) {
      display: block;
      cursor: pointer;
    }

    @include media(mobile) {
      width: 24px;
      height: 24px;
    }
  }

  &__logo {
    height: 65px;
    width: 63px;
    margin-top: -5px;

    @include media(until-desktop) {
      height: 47px;
      width: 45px;
      margin: 0;
    }
  }

  &__right-column {
    @extend %flex-center-between;

    &__navigation {
      @include media(until-tablet) {
        position: absolute;
        top: 64px;
        left: 0;
        right: 0;
        background-color: $surface-color;
        @include menu-shadow;
        display: none;
      }

      &__mobile-column {
        display: none;

        @include media(until-tablet) {
          display: block;
        }
      }

      ul {
        display: flex;

        @include media(until-tablet) {
          display: block;
          text-align: center;
        }

        li {
          padding: 0 12px;

          @include media(until-tablet) {
            padding: 13px 0;
            font-size: $body-text;
            border: 1px solid $mobile-menu-border-bg;
          }

          @include media(mobile) {
            padding: 13px 10px;
            text-align: start;
          }
        }
      }
    }

    &__profile-header-icon {
      margin: 0 12px;
      cursor: pointer;

      @include media(until-tablet) {
        display: none;
      }
    }

    &__cart-icon {
      margin: 0 12px;
      cursor: pointer;

      @include media(until-tablet) {
        width: 41px;
        height: 41px;
        padding: 9px;
        border: 1px solid $primary-color;
        border-radius: 50%;
        margin: 0;
      }

      @include media(until-tablet) {
        color: $primary-color;
      }
    }

    &__button {
      @include media(until-desktop) {
        padding: 11px 24px;
        border-radius: 20px;
      }

      @include media(until-tablet) {
        display: none;
      }
    }
  }
}

.scrolled {
  background-color: $surface-color;
  @include menu-shadow;
}

.mobile-menu {
  display: block;
}

.mobile-cart {
  @include media(until-tablet) {
    top: 240px;
  }

  @include media(until-mobile) {
    top: 177px;
  }
}