@import "~styles/root";

.app-footer {
    font-family: "Mardoto-Regular", Fallback, sans-serif;
    &__top-column {
        height: 190px;
        @extend %flex-center-between;
        padding: 0 280px;
        display: flex;
        background-image: url(~assets/footerTopBg.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        color: $text-color-primary;

        @include media(desktop) {
            padding: 0 80px;
        }

        @include media(tablet) {
            padding: 0 64px;
        }

        @include media(until-mobile) {
            height: 136px;
            padding: 0 64px;
            justify-content: center;
            flex-wrap: wrap;
            padding: 0 20px;
        }

        &__left-column {
            display: flex;
            align-items: center;

            @include media(until-mobile) {
                width: 100%;
                padding: 26.5px 0;
            }

            &__text-content {
                padding: 15px 0 0 24px;
                font-size: $heading2;
                text-transform: uppercase;

                @include media(tablet) {
                    font-size: $intro-text;
                }

                @include media(mobile-large) {
                    font-size: $intro-text;
                }

                @include media(mobile) {
                    font-size: $body-text;
                }
            }
        }

        &__button {
            @include second-button-style(37px, $heading3, 25.5px 32px);

            @include media(desktop) {
                @include second-button-style(37px, $intro-text, 16px 23px);
            }

            @include media(tablet) {
                @include second-button-style(37px, $intro-text, 12px 23px);
            }

            @include media(until-mobile) {
                @include second-button-style(37px, $body-text, 10.5px 26.5px);
                margin: 16px 0;
                border-box-shadow: none;
            }
        }
    }

    &__bottom-column {
        padding: 105px 280px;
        display: flex;
        justify-content: space-between;

        @include media(desktop) {
            padding: 80px;
        }

        @include media(tablet) {
            padding: 88px 64px;
        }

        @include media(until-mobile) {
            padding: 56px 20px;
            flex-wrap: wrap-reverse;
        }
    }

    &__copy {
        color: $text-color-primary;
        font-size: $micro-text;
        padding: 0 0 40px 280px;

        @include media(desktop) {
            padding: 0 80px 40px 80px;
        }

        @include media(until-tablet) {
            padding: 0 64px 40px 64px;
        }

        @include media(until-mobile) {
            padding: 0 20px 32px 20px;
        }
    }
}
