@import "~styles/root";

.app-label {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: $body-text;
    color: $text-color-surface;
    padding: 0 0 0 24px;
    cursor: pointer;

    &:hover {
        background-color: #fae1d1;
    }

    &--selected {
        background-color: #f7f0ec;
    }
    @include media(until-mobile) {
        font-size: 13px;
    }

    &__input-radio {
        cursor: pointer;
        margin: 0 12px 0 0;
        appearance: none;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        border: 2px solid $primary-color;
        transition: all 200ms ease-in-out;
        &--selected {
            box-shadow: 0 0 2px 2px $primary-color;
            border: 8px solid $surface-color;
            background-color: $primary-color;
        }
    }
}